body {
  background-color: lightgray;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.display {
  display: flex;
  justify-content: flex-end;
  background-color: gray;
  height: 100px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.buttonPanel {
  display: flex;
}